{% extends "events/base.html" %}
{% block content %}
<body style="margin-top: 60px;" >

    <div class="container"
    style="border: 25;
    background-color:rgb(16, 54, 42);
    color:antiquewhite;
    margin:10px 30px">
    <h1>LOGIN</h1>
    
    
    <form method="POST">
        {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="username" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
`             <a href="{% url 'register' %}">Singin</a>            
            </div>
           
        
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
    

    </div>
</body>
{% endblock %}