{% extends "events/base.html" %} 
{% block content %}
<body style="margin-top: 60px">
  <div class="container">
    <h1>Events</h1>
    <table class="table table-success table-striped">
      {% csrf_token %}
      {% for event in event_list%}
      <tr>
        <td>
          <a href="{% url 'events:show_event' event.id %}"> {{event}} </a>
        </td>
        <td align="right">
          <a href="{% url 'events:update_event' event.id %}"
          class="btn btn-outline-secondary btn-sm"> Update </a>
          <a href="{% url 'events:delete_event' event.id %}"
          class="btn btn-outline-danger btn-sm"> Delete</a>
        </td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
</body>

{% endblock %}
