{% extends "events/base.html" %} 
{% block content %}
<body style="margin-top: 60px">
  <div class="container">
    <h1>VENUES</h1>
    {% if user.is_authenticated %}
    <table class="table table-success table-striped">
      {% for venue in venue_list%}
      <tr>
        <td>
          <a href="{% url 'events:show_venue' venue.id %}"> {{venue}} </a>
        </td>
        <td align="right">
          <a href="{% url 'events:update_venue' venue.id %}"
          class="btn btn-outline-secondary btn-sm"> Update </a>
          <a href="{% url 'events:delete_venue' venue.id %}"
          class="btn btn-outline-danger btn-sm"> Delete </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
{% else %}
<h1>Pleas Singin to use this page</h1>
{% endif %}
{% endblock %}
