{% extends "events/base.html" %}
{% block content %}
<body style="margin-top: 60px;">
        <div class="container">
            
            <h1>{{venue}}</h1><br>
            <ul>
                </li>Address  :- {{venue.address }}</li><br>
                </li>zip_code  :-{{venue.zip_code }}</li><br>
                </li>Phoen :-{{venue.phone }}</li><br>
                </li>Email :-{{venue.email_address }}</li><br>
                </li> WepPage:-<a href="{{venue.web }}">{{venue.web}}</a></li><br>
          
            </ul>
             
        </div>
</body>
  
{% endblock %}